.closet__shoes {
  margin-top: 10px;
  background-color: rgb(248, 188, 188);
  padding: 20px;
  border: 1px solid #676666;
  border-radius: 10px;
  cursor: pointer;

}

.closet__shoes--item {
  font-weight: bold;
  color: rgb(238, 10, 10)
}