@import url(componentes/closet.css);
@import url(componentes/pantalones.css);

.closet {
  border: 1px solid rgb(99, 97, 97);
  padding: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(239, 156, 156);
  border-radius: 10px;
}

.pantalones {
  border: 1px solid rgb(11, 246, 7);
  padding: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(243, 235, 235);
  border-radius: 10px;
}